<!-- start portfolio item -->
<div class="col-md-6 col-0-gutter">
    <div class="ot-portfolio-item">
        <figure class="effect-bubba">
            <img src="assets/images/frame_desktop.png" alt="img02" class="img-responsive" />
            <figcaption>
                <h2>{{project?.title}}</h2>
                <p>Branding, Design</p>
                <a href="#" data-toggle="modal" data-target="#Modal-1">View more</a>
            </figcaption>
        </figure>
        <div class="my-fit-img" [style.background-image]="url('/assets/images/test.png')"></div>
    </div>
</div>
<!-- end portfolio item -->