<!-- start portfolio item -->
<div class="col-md-6 col-0-gutter">
    <div class="ot-portfolio-item">
        <figure class="effect-bubba" (click)="gotoLink(project?.link)" style="min-height: 300px;">
            <img [src]="project?.thumbnail" alt="Thumbnail" class="img-responsive" style="width: 100%" />
            <figcaption>
                <!-- <h2>{{project?.title}}</h2>
                <p>Branding, Design</p>
                <a href="#" data-toggle="modal" data-target="#Modal-1">View more</a> -->
            </figcaption>
        </figure>
    </div>
</div>
<!-- end portfolio item -->