<section id="about" class="mz-module">
    <div class="container light-bg">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-title">
                    <h2>ABOUT</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="mz-about-container">
                    <p>✅ React, Angular(2+), Vue</p>
                    <p>✅ React Native, Ionic</p>
                    <p>✅ Node/Express, PHP, GraphQL</p>
                    <p>✅ SQL, PostreSQL, MongoDB</p>
                    <p>✅ Google Cloud, Firebase, AWS</p>
                    <p>✅ Jest, Unit Testing</p>
                </div>
            </div>
            <div class="col-md-6">
                <!-- skill bar item -->
                <div class="skillbar-item">
                    <div class="skillbar" data-percent="100%">
                        <h3>Frontend Development</h3>
                        <div class="skillbar-bar">
                            <div class="skillbar-percent" style="width: 100%;">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- skill bar item -->
                <div class="skillbar-item">
                    <div class="skillbar" data-percent="80%">
                        <h3>Backend & Fullstack</h3>
                        <div class="skillbar-bar">
                            <div class="skillbar-percent" style="width: 80%;">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- skill bar item -->
                <div class="skillbar-item">
                    <div class="skillbar" data-percent="85%">
                        <h3>Collaboration</h3>
                        <div class="skillbar-bar">
                            <div class="skillbar-percent" style="width: 85%;">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- skill bar item -->
                <div class="skillbar-item">
                    <div class="skillbar" data-percent="70%">
                        <h3>Project Management</h3>
                        <div class="skillbar-bar">
                            <div class="skillbar-percent" style="width: 70%;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-0-gutter">
            <!-- about module -->
            <div class="col-md-3 col-0-gutter mz-about-default text-center">
                <div class="mz-module-about">
                    <i class="fa fa-briefcase ot-circle"></i>
                    <h3>Web Development</h3>
                </div>
            </div>
            <!-- end about module -->
            <!-- about module -->
            <div class="col-md-3 col-0-gutter mz-about-dark text-center">
                <div class="mz-module-about">
                    <i class="fa fa-photo ot-circle"></i>
                    <h3>Visualisation</h3>
                </div>
            </div>
            <!-- end about module -->
            <!-- about module -->
            <div class="col-md-3 col-0-gutter mz-about-default text-center">
                <div class="mz-module-about">
                    <i class="fa fa-camera-retro ot-circle"></i>
                    <h3>Photography</h3>
                </div>
            </div>
            <!-- end about module -->
            <!-- about module -->
            <div class="col-md-3 col-0-gutter mz-about-dark text-center">
                <div class="mz-module-about">
                    <i class="fa fa-cube ot-circle"></i>
                    <h3>UI/UX Design</h3>
                </div>
            </div>
            <!-- end about module -->
        </div>
    </div>
    <!-- /.container -->
</section>